.con1 > h2 {
  opacity: 0;
  transform: translateY(100px);
  transition: 1s;
}
.con1 > h2.on {
  opacity: 1;
  transform: translateY(0px);
}
.con1 ul li div img {
  width: 30%;

  transition: 1.5s;
}
.con1 ul li p {
  transform: translateY(200px);
  opacity: 0;
  transition: 1s;
  transition-delay: 0.5s;
}
.con1 ul li.on div img {
  width: 100%;
}
.con1 ul li.on p {
  transform: translateY(0px);
  opacity: 1;
}
.con2 .title {
  opacity: 0;
  transform: translateY(100px);
  transition: 1s;
}
.con2 .title.on {
  opacity: 1;
  transform: translateY(0px);
}
.con2 .ulwrap {
  opacity: 0;
  transform: translateY(100px);
  transition: 1s;
}
.con2 .ulwrap.on {
  opacity: 1;
  transform: translateY(0px);
}
.con3 .title {
  opacity: 0;
  transform: translateY(100px);
  transition: 1s;
}

.con3.on .title {
  opacity: 1;
  transform: translateY(0px);
}
.con3 h3 {
  opacity: 0;
  transform: translateY(100px);
  transition: 1s;
  transition-delay: 0.5s;
}
.con3.on h3 {
  opacity: 1;
  transform: translateY(0px);
}
.con3 .p {
  opacity: 0;
  transform: translateY(100px);
  transition: 1s;
  transition-delay: 0.8s;
}
.con3.on .p {
  opacity: 1;
  transform: translateY(0px);
}
.con3 .con3ul {
  opacity: 0;
  transform: translateY(100px);
  transition: 1s;
  transition-delay: 1.5s;
}
.con3.on .con3ul {
  opacity: 1;
  transform: translateY(0px);
}
.con4 {
  opacity: 0;
  transition: 1s;
}
.con4.on {
  opacity: 1;
}
/*about_navi*/
.about_navi.fix {
  position: fixed;
  left: 0px;
  top: 100px;
  z-index: 7;
}
@media (min-width: 1521px) {
  /*visual*/
  #visual .home_title {
    position: relative;
    display: inline-block;
    background: linear-gradient(-90deg, #fff 56%, #000 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
  }

  #visual .home_title.on {
    background: #fff;
    -webkit-background-clip: text;
  }
  #visual .viwrap .ab_home {
    left: 110px;
  }
  /*con1*/
  .con1 {
    padding-top: 200px;
  }
  .con1 h2 {
    font-size: 60px;
    text-align: center;
  }

  .con1 h2 img {
    width: 50px;
    height: 50px;
    transform: translateY(-20px);
  }
  .con1 ul {
    width: 80%;
    margin: 100px auto 0px;
    word-break: keep-all;
  }
  .con1 ul li {
    display: flex;
    justify-content: space-between;
    height: 500px;
    align-items: center;
    font-size: 18px;
    line-height: 30px;
  }
  .con1 ul li:nth-of-type(2) {
    text-align: right;
  }

  .con1 ul li > div {
    width: calc(100% / 2 - 20px);
  }
  .con1 ul li > p {
    width: calc(100% / 2 - 20px);
  }
  .con1 ul li img {
    width: 100%;
  }
  /*con2*/
  .con2 {
    padding-top: 200px;
  }
  .con2 > h2 {
    text-align: center;
  }
  .con2 .ulwrap {
    width: 1470px;
    overflow: hidden;
    margin: 100px auto;
    position: relative;
  }
  .con2 ul {
    width: 2450px;
    margin: 100px auto;
    display: flex;
  }
  .con2 ul .pc_none {
    display: none;
  }
  .con2 ul li {
    width: 390px;
    height: 500px;
    position: relative;
    transition: 0.5s;
    margin: 0px 50px;
  }
  .con2 ul .imgbox {
    width: 80%;
    height: 80%;
    background: #eee;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .con2 ul li img {
    position: absolute;
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
  }
  .con2 ul li .textbox {
    width: 273px;
    padding: 10px;
    margin-left: 58.5px;
    margin-top: 25px;
    position: relative;
    z-index: 5;
  }
  .con2 ul li .textbox h4 {
    font-family: "NotoSerifKR";
    font-size: 19px;
    margin-left: 30px;
    margin-top: 50px;
  }
  .con2 ul li .textbox .t1 p {
    font-size: 18px;
  }

  .con2 ul li .textbox .t2 {
    margin-top: 30px;
    color: #fff;
    line-height: 25px;
    display: none;
  }
  /*li.on*/
  .con2 .slide li.on .imgbox {
    width: 100%;
    height: 100%;
  }
  .con2 .slide li.on img {
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    filter: brightness(50%);
  }
  .con2 .slide li.on .textbox {
    margin-top: 10px;
    color: #fff;
    transition: 1s;
  }
  .con2 .slide li.on .t2 {
    display: block;
    transition: 1s;
  }
  /**/
  .con2 .act_arrow {
    width: 470px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .con2 .act_arrow div {
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    background: #fcfcfc;
    color: #3f71b4;
    border-radius: 50%;
    cursor: pointer;
  }
  .con2 .act_arrow div:hover {
    color: #fff;
    background: #3f71b4;
  }
  /*con3*/
  .con3 {
    padding-top: 180px;
  }
  .con3 > h2 {
    text-align: center;
  }
  .con3 > h3 {
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    margin: 50px 0px 30px;
  }
  .con3 > h3 span {
    color: #3f71b4;
  }
  .con3 > p {
    text-align: center;
    font-size: 18px;
  }
  .con3 > ul {
    width: 80%;
    height: 30vw;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
  }
  .con3 .con3_text {
    width: calc(50% - 50px);
    position: relative;
  }
  .con3 .con3_text .none {
    display: none;
  }
  .con3_text div {
    position: absolute;
    background: #fff;
    padding: 50px;
    display: none;
  }
  .con3_text div:nth-of-type(1) {
    display: block;
  }
  .con3_text div h2 {
    font-size: 50px;
  }
  .con3_text div p {
    font-size: 1vw;
    line-height: 1.4vw;
    margin: 30px 0px;
  }
  .con3_btn {
    width: 300px;
    position: absolute;
    right: 0px;
    bottom: 50px;
    font-size: 18px;
  }
  .con3_btn li {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    border-bottom: 1px solid #000;
    cursor: pointer;
  }
  .con3_btn li.on {
    color: #3f71b4;
    border-bottom: 2px solid #3f71b4;
    font-weight: bold;
  }
  .con3 .con3_img {
    width: 50%;
    position: relative;
  }
  .con3 .con3_img img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
  }
  .con3 .con3_img img:nth-of-type(1) {
    display: block;
  }

  /*con4*/
  .con4 {
    word-break: keep-all;
    margin: 150px auto;
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    background: url(../img/act_con4.jpg) no-repeat top/cover;
    color: #fff;
  }
  .con4 .con4_left {
    width: 40%;
  }
  .con4_left .left_wrap {
    padding: 100px;
  }
  .con4_left .left_wrap p {
    margin-top: 50px;
    line-height: 25px;
    font-size: 18px;
  }
  .con4 .con4_right {
    width: 60%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  .con4 .con4_right li {
    width: calc(100% / 2);
    height: calc(100% / 2);
    position: relative;
    background: rgb(255, 255, 255, 0.2);
  }
  .con4 .con4_right li:nth-of-type(1) {
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  .con4 .con4_right li:nth-of-type(2) {
    border-bottom: 1px solid #eee;
  }
  .con4 .con4_right li:nth-of-type(3) {
    border-right: 1px solid #eee;
  }
  .con4 .con4_right li div {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0px 50px;
  }
  .con4 .con4_right li div p {
    line-height: 25px;
    display: none;
  }
  .con4 .con4_right li div img {
    width: 60px;
    margin: 20px;
  }
  .con4 .con4_right li:hover p {
    display: block;
  }
  .con4 .con4_right li:hover img {
    width: 40px;
  }
  .con4 .con4_right li:hover {
    background: rgb(64, 115, 181, 0.5);
  }
}
@media (min-width: 768px) and (max-width: 1520px) {
  #visual .home_title.fff {
    color: #fff;
  }
  /*con1*/
  .con1 {
    margin: 150px auto;
  }
  .con1 h2 {
    font-size: 4.5vw;
    text-align: center;
  }

  .con1 h2 img {
    width: 4vw;
    height: 4vw;
    transform: translateY(-20px);
  }
  .con1 ul {
    width: 90%;
    margin: 100px auto;
    word-break: keep-all;
  }
  .con1 ul li {
    display: flex;
    justify-content: space-between;
    height: 600px;
    align-items: center;
    font-size: 18px;
    line-height: 30px;
  }
  .con1 ul li:nth-of-type(2) {
    text-align: right;
  }

  .con1 ul li > div {
    width: calc(100% / 2 - 20px);
  }
  .con1 ul li > p {
    width: calc(100% / 2 - 20px);
  }
  .con1 ul li img {
    width: 100%;
  }
  /*con2*/
  .con2 {
    width: 100%;
    margin: 150px auto;
  }
  .con2 > h2 {
    text-align: center;
  }
  .con2 .ulwrap {
    width: 100%;
    overflow: hidden;
    margin: 100px auto;
    position: relative;
  }
  .con2 ul {
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .con2 ul li {
    width: 390px;
    height: 500px;
    position: relative;
    transition: 0.5s;
    margin: 0px auto;
  }
  .con2 ul .imgbox {
    width: 80%;
    height: 80%;
    background: #eee;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .con2 ul li img {
    position: absolute;
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
  }
  .con2 ul li .textbox {
    width: 273px;
    padding: 10px;
    margin-left: 58.5px;
    margin-top: 25px;
    position: relative;
    z-index: 5;
  }
  .con2 ul li .textbox h4 {
    font-family: "NotoSerifKR";
    font-size: 19px;
    margin-left: 30px;
    margin-top: 50px;
  }
  .con2 ul li .textbox .t1 p {
    font-size: 18px;
  }

  .con2 ul li .textbox .t2 {
    margin-top: 30px;
    color: #fff;
    line-height: 25px;
    display: none;
  }
  /*li:hover*/
  .con2 .slide li:hover .imgbox {
    width: 100%;
    height: 100%;
  }
  .con2 .slide li:hover img {
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    filter: brightness(50%);
  }
  .con2 .slide li:hover .textbox {
    margin-top: 10px;
    color: #fff;
    transition: 1s;
  }
  .con2 .slide li:hover .t2 {
    display: block;
    transition: 1s;
  }
  /**/
  .con2 .act_arrow {
    display: none;
  }
  /*con3*/
  .con3 {
    width: 100%;
  }
  .con3 > h2 {
    text-align: center;
  }
  .con3 > h3 {
    text-align: center;
    font-size: 2.2vw;
    line-height: 3vw;
    margin: 50px 0px 30px;
  }
  .con3 > h3 span {
    color: #3f71b4;
  }
  .con3 > p {
    word-break: keep-all;
    width: 80%;
    margin: 0px auto;
    text-align: center;
    font-size: 1.8vw;
  }
  .con3 > ul {
    width: 95%;
    height: 30vw;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
  }
  .con3 .con3_text {
    width: calc(50% - 50px);
    position: relative;
  }
  .con3 .con3_text .none {
    display: none;
  }
  .con3_text div {
    position: absolute;
    background: #fff;
    padding-top: 2vw;
    display: none;
  }
  .con3_text div:nth-of-type(1) {
    display: block;
  }
  .con3_text div h2 {
    font-size: 4vw;
  }
  .con3_text div p {
    font-size: 1.5vw;
    line-height: 2vw;
    margin: 1vw 0px;
  }
  .con3_btn {
    width: 20vw;
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 1.5vw;
  }
  .con3_btn li {
    display: flex;
    justify-content: space-between;
    margin-top: 0.8vw;
    border-bottom: 1px solid #000;
    cursor: pointer;
  }
  .con3_btn li.on {
    color: #3f71b4;
    border-bottom: 2px solid #3f71b4;
    font-weight: bold;
  }
  .con3 .con3_img {
    width: 50%;
    position: relative;
  }
  .con3 .con3_img img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
  }
  .con3 .con3_img img:nth-of-type(1) {
    display: block;
  }

  /*con4*/
  .con4 {
    word-break: keep-all;
    margin: 150px auto;
    width: 100%;
    height: 55vw;
    display: flex;
    align-items: center;
    background: url(../img/act_con4.jpg) no-repeat top/cover;
    color: #fff;
  }
  .con4 .con4_left {
    width: 40%;
  }
  .con4_left .left_wrap {
    padding: 5vw;
  }
  .con4_left .left_wrap .title {
    font-size: 3vw;
  }
  .con4_left .left_wrap p {
    margin-top: 3vw;
    line-height: 2vw;
    font-size: 1.5vw;
  }
  .con4_left .left_wrap .none {
    display: none;
  }
  .con4 .con4_right {
    width: 60%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  .con4 .con4_right li {
    width: calc(100% / 2);
    height: calc(100% / 2);
    position: relative;
    background: rgb(255, 255, 255, 0.2);
  }
  .con4 .con4_right li:nth-of-type(1) {
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  .con4 .con4_right li:nth-of-type(2) {
    border-bottom: 1px solid #eee;
  }
  .con4 .con4_right li:nth-of-type(3) {
    border-right: 1px solid #eee;
  }
  .con4 .con4_right li div {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0px 3vw;
  }
  .con4 .con4_right li div h3 {
    font-size: 2vw;
  }
  .con4 .con4_right li div p {
    line-height: 2vw;
    font-size: 1.5vw;
    display: none;
  }
  .con4 .con4_right li div img {
    width: 5vw;
    margin: 1.5vw;
  }
  .con4 .con4_right li:hover p {
    display: block;
  }
  .con4 .con4_right li:hover img {
    width: 25px;
  }
  .con4 .con4_right li:hover {
    background: rgb(64, 115, 181, 0.5);
  }
}
@media (max-width: 767px) {
  /*con1*/
  .con1 {
    margin: 150px auto;
  }
  .con1 h2 {
    font-size: 4.5vw;
    text-align: center;
  }

  .con1 h2 img {
    width: 4vw;
    height: 4vw;
    transform: translateY(-20px);
  }
  .con1 ul {
    width: 90%;
    margin: 100px auto;
    word-break: keep-all;
  }
  .con1 ul li {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 5vw;
  }
  .con1 ul li p {
    margin-bottom: 10px;
  }

  .con1 ul li img {
    width: 100%;
  }
  /*con2*/
  .con2 {
    width: 100%;
    margin: 150px auto;
  }
  .con2 > h2 {
    text-align: center;
  }
  .con2 .ulwrap {
    width: 100%;
    overflow: hidden;
    margin: 100px auto;
    position: relative;
  }
  .con2 ul {
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .con2 ul li {
    width: 390px;
    height: 500px;
    position: relative;
    transition: 0.5s;
    margin: 0px auto;
  }
  .con2 ul .imgbox {
    width: 80%;
    height: 80%;
    background: #eee;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .con2 ul li img {
    position: absolute;
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
  }
  .con2 ul li .textbox {
    width: 273px;
    padding: 10px;
    margin-left: 58.5px;
    margin-top: 25px;
    position: relative;
    z-index: 5;
  }
  .con2 ul li .textbox h4 {
    font-family: "NotoSerifKR";
    font-size: 19px;
    margin-left: 30px;
    margin-top: 50px;
  }
  .con2 ul li .textbox .t1 p {
    font-size: 18px;
  }

  .con2 ul li .textbox .t2 {
    margin-top: 30px;
    color: #fff;
    line-height: 25px;
    display: none;
  }
  /*li.on*/
  .con2 .slide li:hover .imgbox {
    width: 100%;
    height: 100%;
  }
  .con2 .slide li:hover img {
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    filter: brightness(50%);
  }
  .con2 .slide li:hover .textbox {
    margin-top: 10px;
    color: #fff;
    transition: 1s;
  }
  .con2 .slide li:hover .t2 {
    display: block;
    transition: 1s;
  }
  /**/
  .con2 .act_arrow {
    display: none;
  }
  /*con3*/
  .con3 {
    width: 100%;
  }
  .con3 > h2 {
    text-align: center;
  }
  .con3 > h3 {
    width: 90%;
    text-align: center;
    font-size: 4vw;
    line-height: 5vw;
    margin: 7vw auto 5vw;
  }
  .con3 > h3 span {
    color: #3f71b4;
  }
  .con3 > h3 .none {
    display: none;
  }
  .con3 > p {
    word-break: keep-all;
    width: 80%;
    margin: 0px auto;
    text-align: center;
    font-size: 3vw;
  }
  .con3 > ul {
    width: 95%;
    margin: 50px auto;
  }

  .con3_text div {
    background: #fff;
    padding-top: 2vw;
    margin-top: 5vw;
  }

  .con3_text div h2 {
    font-size: 5vw;
    text-align: center;
    background: #3f71b4;
    color: #fff;
    width: fit-content;
    margin: 10px auto;
    padding: 1vw 3vw;
    border-radius: 30px;
  }
  .con3_text div img {
    width: 100%;
  }
  .con3_text div p {
    text-align: center;
    font-size: 3.3vw;
    line-height: 4.5vw;
    margin: 2vw 0px;
  }
  .con3_btn {
    display: none;
  }
  .con3 .con3_img img {
    display: none;
  }
  /*con4*/
  .con4 {
    word-break: keep-all;
    margin: 150px auto;
    width: 100%;
    background: url(../img/act_con4.jpg) no-repeat top/cover;
    color: #fff;
  }
  .con4_left {
    width: 100%;
    height: 70vw;
    display: flex;
    align-items: center;
  }
  .con4_left .left_wrap {
    width: fit-content;
    height: fit-content;

    margin: 50px auto;
    text-align: center;
  }
  .con4_left .left_wrap .title {
    font-size: 6vw;
  }
  .con4_left .left_wrap p {
    width: 80%;
    margin: 5vw auto 0vw;
    font-size: 3vw;
    line-height: 4.5vw;
  }
  .con4_left .left_wrap .none {
    display: none;
  }
  .con4 .con4_right {
    text-align: center;
  }
  .con4 .con4_right li {
    height: 60vw;
    position: relative;
    background: rgb(255, 255, 255, 0.2);
    border-bottom: 1px solid #eee;
  }
  .con4 .con4_right li:nth-of-type(1) {
    border-top: 1px solid #eee;
  }
  .con4 .con4_right li div {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0px 3vw;
  }
  .con4 .con4_right li div h3 {
    font-size: 4vw;
  }
  .con4 .con4_right li div p {
    line-height: 5vw;
    font-size: 3vw;
    display: none;
  }
  .con4 .con4_right li div img {
    width: 7vw;
    margin: 3vw;
  }
  .con4 .con4_right li:hover p {
    display: block;
  }
  .con4 .con4_right li:hover img {
    width: 40px;
  }
  .con4 .con4_right li:hover {
    background: rgb(64, 115, 181, 0.5);
  }
}
